.item {
  width: 31%;
  min-width: 200px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  border: 1px solid var(--grey);

  .avatar {
    width: 100%;
    aspect-ratio: 1.3;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .info {
    width: 90%;
    height: 30%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .h6 {
      font-weight: 300;
      color: var(--grey);
      line-height: 130%;

    }

    .h5 {
      font-weight: 300;
      color: var(--grey);
      opacity: 0.8;
    }
  }

  .manage {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    button {
      width: 45%;
      padding: 10px 0;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }

    button:first-child {
      background: var(--blue-grad);
      color: var(--white);
    }

    button:last-child {
      background-color: rgb(236, 61, 61);
      color: var(--white);
    }

  }
}