@import url(vars.css);
@import url(components/header.css);
@import url(components/first_screen.css);
@import url(components/last_articles.css);
@import url(components/feedbacks.css);
@import url(components/footer.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    font-feature-settings: 'liga' off, 'clig' off;
}

body {
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: #aaaaac;
}

::-webkit-scrollbar-track {
    background-color: #F3F8FE;
}

.blueBtn {
    width: fit-content;
    padding: 20px 40px;
    background: none;
    border: 1px solid var(--blue);
    border-radius: 40px;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
    transition: all var(--base-tr);

    &.small {
        padding: 10px 40px;
    }

    img {
    transition: all var(--base-tr);
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--blue);
            color: var(--white);

            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(695%) hue-rotate(204deg) brightness(115%) contrast(100%);
            }

        }
    }

}

.h2 {
    font-size: 2.25rem; /*36px*/
    font-weight: 700;
}

.h3 {
    font-size: 1.31rem; /*21px*/
}

.h4 {
    font-size: 1.125rem;  /*18px*/
}

.h5 {
    font-size: 1rem; /*16px*/
}

.h6 {
    font-size: 0.875rem; /*14px*/
}

.h7 {
    font-size: 0.75rem; /*12px*/
}

/* br tablet */
@media (max-width: 1270px) {

}

/* br mobile */
@media (max-width: 767px) {

}

@media (hover: hover) {

}