.search{
    padding: 15px 46px;
    border: 1px solid var(--blue);
    border-radius: 8px;
    font-size: 15px;
    background: none;
    color: var(--blue);
    font-weight: 500;
    cursor: pointer;
}

.search img{
    display: none;
}

.clear{
    padding: 15px 46px;
    border: 1px solid indianred;
    border-radius: 8px;
    font-size: 15px;
    background: none;
    color: indianred;
    font-weight: 500;
    cursor: pointer;
}

.clear img{
    display: none;
}
.create img{
    display: none;
    rotate: 45deg;
}
.section-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 190px 40px;
}

.input-buttons-menu{
    column-gap: 10px;
    display: flex;
}

.input-buttons-menu input{
    padding: 15px 50px  15px 10px;
    border-radius: 8px;
    border: 1px solid black;
}

textarea:focus, input:focus{
    outline: none;
}

.create button{
    border: 1px solid var(--base-black);
    background: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 15px 46px;
    color: var(--base-black);
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 1700px) {
    .crud-menu-item{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1300px) {
    .crud-menu-item{
        grid-template-columns: 1fr;
    }
    .input-buttons-menu{
        display: flex;
        align-items: center;
    }
    .search{
        border: none;
        padding: 8px;
    }
    .search span{
        display: none;
    }
    .search img{
        display: flex;
    }
    .clear{
        border: none;
        padding: 8px;
    }
    .clear span{
        display: none;
    }
    .clear img{
        display: flex;
    }

}

@media screen and (max-width: 1100px){
    .section-menu{
        padding: 0 14% 40px;
    }
}

@media screen and (max-width: 700px) {
    .section-menu{
        flex-direction: column-reverse;
        row-gap: 20px;
    }
    .create span{
        display: none;
    }
    .create img{
        display: flex;
    }
}