.article {
  --border-r: 6%;
  transform: translateY(20svh);
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 70px;
  row-gap: 24px;
  width: 90%;
  border-radius: var(--border-r);
  background-color: var(--white);
  box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 0.40);

  & > :not(img) {
    margin-left: 10%;
    width: 80%;
  }

  .avatar {
    border-top-left-radius: var(--border-r);
    border-top-right-radius: var(--border-r);
    margin: 0;
    width: 100%;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & > img {
    border-top-left-radius: var(--border-r);
    border-top-right-radius: var(--border-r);
    width: 100%;
    height: auto;
  }

  h4 {
    color: var(--grey);
    font-weight: 300;
  }

  a {
    text-align: center;
    margin: 0 0 0 10%;
    width: 60%;
    padding: 6px;
    justify-self: flex-end;
  }

  @media (hover: hover) {
    &:hover {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 757px) {
  .article {
    width: 90%;

    a {
      width: 50%;
    }
  }

}