header {
    height: var(--header-h);
    padding: 0 var(--contpadding);

    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        display: flex;
        column-gap: 40px;
    }

    img {
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: var(--base-black);
        opacity: 0.5;
        cursor: pointer;
        transition: all var(--base-tr);

        &.active {
            color: var(--base-black);
            opacity: 1;
        }

        @media (hover: hover) {
            &:hover {
                color: var(--base-black);
                opacity: 1;
            }
        }
    }
}